.container {
  /* display: flex; */
  /* border: 2px solid red; */
}
.row {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  /* border: 2px solid green; */
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-between;
  margin: 20px; */
}
