.container {
  /* display: flex; */
  /* border: 2px solid red; */
}
.row {
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 20px; */
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  /* border: 2px solid green; */
}
