.language_container {
  display: flex;
  /* border: 2px solid red; */
  flex-direction: "row";
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  /* background-color: brown; */
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  /* border: 2px solid green; */
}
